# Python
__pycache__/
*.pyc
venv/

# Env
.env
.env.*

# Alembic cache
alembic/versions/__pycache__/

# Local uploaded files
backend/app/storage/

# Docker
postgres_data/

# OS
.DS_Store
*.exe
*.mp4
*.log
node_modules/
.venv/
